.footer {
    background: linear-gradient(0deg, rgb(13, 42, 40) 0%, rgb(13, 40, 38) 10%);

    &__h4 {
        font-size: 1.5rem;
        color: #ffff;
        text-decoration: underline white;
    }

    &__ul {
        list-style-type: none;
        padding: 0 1rem;
    }

    &__link {
        color: #32ae91;
        font-size: 1.5rem;
    }
}

.footer__content {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.footer__body {
    padding-top: 1rem;
}

.footer__ul {
    list-style: none;
}